<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="#" th:action="@{/create}" th:object="${user}" method="post">
    <label th:for="firstName">First name</label>
    <input type="text" name="firstName" th:id="firstName" th:value="${user.getFirstName()}" th:placeholder="FirstName">
    <br/>
    <label th:for="lastName">Last name</label>

    <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}" th:placeholder="LastName">

    <br/>
    <label th:for="email">Email</label>

    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}" th:placeholder="Email">

    <br/>
    <button type="submit">Create user</button>

</form>

</body>
</html>